{% extends 'cultivo_main/main_head.html' %}

{% block content %}


<div class="login-wrap">
    <div class="login-html">
        <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Ask Me!</label>
        <!-- <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label> -->
        <form id="form" name="sendreq" action='{% url 'cultivo_main:result' %}' method='post'>
        {% csrf_token %}
        <div class="login-form">
            <div class="sign-in-htm">
                <div class="group">
                    <label for="user" class="label">Region <span style="font-size: 12px;">(District)</span></label>
                    <input id="user" type="text" class="input" name='area'>
                </div>
                <div class="group">
                    <label for="pass" class="label">Crop</label>
                    <input id="pass" type="text" class="input" name='crop'>
                </div>
                
                <div class="group">
                    <input type="submit" class="button" value="Go">
                </div>
                <div class="hr"  style='margin-top:-1%;'></div>
                
            </div>
            </div></form>
            </div></div>



{% endblock %}