{% comment %} {% for key, value in first.items %}
    <li>{{key}}=====>>>{{value}}</a></li>
{% endfor %}

<br><br>

{% for key, value in second.items %}
    <li>{{key}}=====>>>{{value}}</a></li>
{% endfor %}

<br><br>

{% for key, value in third.items %}
    <li>{{key}}=====>>>{{value}}</a></li>
{% endfor %}

<br><br>

{% for key, value in temp_det.items %}
    <li>{{key}}=====>>>{{value}}</a></li>
{% endfor %}

<br><br>

{% for key, value in final.items %}
    <li>{{key}}=====>>>{{value}}</a></li>
{% endfor %}

<br><br>

{% for key, value in soil.items %}
    <li>{{key}}=====>>>{{value}}</a></li>
{% endfor %}

{{finalout}{{% endcomment %}

 {% comment %} {% for key, value in d.items %}
    <li>{{key}}=====>>>{{value}}</a></li>
{% endfor %} {% endcomment %}

{% for key, value in f.items %}
    <li>{{key}}=====>>>{{value}}</a></li>
{% endfor %} 

{% for i in d%}
    <li>{{i}}</a></li>
{% endfor %}

{% for i in dd%}
    <li>{{i}}</a></li>
{% endfor %}